#randArticle{
  margin-top: 20px;
  font-size: 2em;
  font-weight: bold;
  opacity: 0.6;
  border-radius: 10px;
}
body{
  font-family: Pacifico;
  background-image: url("background.jpg");
  background-size: cover;
  height: 800px;
  overflow-x: hidden;
  position: relative;
  color: white;
}
body h1{
  opacity: 0.75;
}
#searchBar{
  opacity: 0.75;
  margin-top: 20px;
  padding: 25px;
  font-size: 1.5em;
  border-radius: 10px;
}
#search{
  opacity: 0.8;
  margin-top: 20px;
  font-size: 1.75em;
}
.output{
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
  opacity: 0.75;
  border-radius: 10px;
  width:inherit;
}
.output p{
  width:inherit;
  word-wrap: break-word;
}
